body,html {
	margin: 0;
	padding: 0;
	color: #222;
	background-color: white;
	font-size: 12pt;
	font-family: "Open Sans", sans-serif;
}

body {
	max-width: 700px;
	margin: 50px auto;
}

h1 {
	font-weight: 600;
	font-size: 20pt;
	text-align: center;
	color: #111;
	margin: 0 0;
}

h2 {
	font-family: "Open Sans Condensed", "Open Sans", sans-serif;
	font-size: 16pt;
	font-weight: 700;
}

#content {
	margin: 2em 0;
}

#content a {
	color: #222;
}

.idea {
	margin: 1em 0;
}

.idea h2 {
	margin-top: 0;
}

.idea p {
	margin-bottom: 0;
}

.idea > a {
	display: block;
	color: #222;
	text-decoration: none;
	padding: 6px;
}

.idea > a:hover {
	background-color: #eee;
}

.idea > a > h2 {
	text-decoration: underline;
}

#status span {
	padding: 0 4px;
	color: black;
}

.status-idea { background-color: #ddd; }
.status-abandoned { background-color: #fee; }
.status-taken { background-color: #ffa; }
.status-finishing { background-color: #aaf; }
.status-done { background-color: #afa; }

#return, #footer, #status {
	font-size: 10pt;
	text-align: center;
}

#return {
	text-align: left;
	position: absolute;
	top: 20px;
}

#footer a, #return a {
	text-decoration: none;
	color: #222;
}

#footer a:hover, #return a:hover {
	text-decoration: underline;
}