body,html {
	margin: 0;
	padding: 0;
	color: #222;
	background-color: white;
	font-size: 12pt;
	font-family: "Open Sans", sans-serif;
}

body {
	max-width: 700px;
	margin: 50px auto;
}

h1 {
	font-weight: 600;
	font-size: 20pt;
	text-align: center;
	color: #111;
	margin: 0 0 2em;
}

h2 {
	font-family: "Open Sans Condensed", "Open Sans", sans-serif;
	font-size: 16pt;
	font-weight: 700;
}

.idea > a {
	display: block;
	color: #222;
	text-decoration: none;
}

.idea > a:hover {
	background-color: #eee;
}

.idea > a > h2:hover {
	text-decoration: underline;
}

.footer {
	text-align: center;
	font-size: 10pt;
	margin-top: 2em;
}