body,html {
	margin: 0;
	padding: 0;
	color: #222;
	background-color: white;
	font-size: 12pt;
	font-family: "Open Sans", sans-serif;
}

body {
	max-width: 700px;
	margin: 50px auto;
}

h1 {
	font-weight: 600;
	font-size: 20pt;
	text-align: center;
	color: #111;
	margin: 0 0;
}

h2 {
	font-family: "Open Sans Condensed", "Open Sans", sans-serif;
	font-size: 16pt;
	font-weight: 700;
}

#content {
	margin: 2em 0;
}

.idea {
	margin: 1em 0;
}

.idea h2 {
	margin-top: 0;
}

.idea p {
	margin-bottom: 0;
}

.idea > a {
	display: block;
	color: #222;
	text-decoration: none;
	padding: 6px;
}

.idea > a:hover {
	background-color: #eee;
}

.idea > a > h2:hover {
	text-decoration: underline;
}

#footer {
	text-align: center;
	font-size: 10pt;
}

#footer a {
	text-decoration: none;
	color: #222;
}

#footer a:hover {
	text-decoration: underline;
}